1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 1000 and 2000 (both included).

In [ ]:
lower=int(input("enter the lower range:"))
upper=int(input("enter the upper range:"))
for i in range(lower,upper+1):
    if(i%7==0 and i%11==0):
        print(i)

enter the lower range:1000
enter the upper range:2000
1001
1078
1155
1232
1309
1386
1463
1540
1617
1694
1771
1848
1925

2. Write a program to print this pattern

           #
          ## 
         ###

In [ ]:
for i in range(1,4):
    for k in range(1,4-i):
        print(" ",end=" ")
    for j in range(1,i+1):
        print("#",end=" ")
    print("\n")

    #

  # #

# # #

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [ ]:
list=['apple','orange','apple','banana']
for i, word in enumerate(list):
    if word=='apple':
       list[i]='grapes'
print(list)

['grapes', 'orange', 'grapes', 'banana']