1. Given index=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"] and data=[1,3,5,np.nan,6,8] . Create a table with the "index" as indices and data as values.

      Expected output

        India         1.0
        Pakistan      3.0
        Bangladesh    5.0
        Srilanka      NaN
        China         6.0
        Nepal         8.0
        Name: myseries, dtype: float64

In [ ]:
import pandas as pd
import numpy as np
data=[1,3,5,np.nan,6,8]
x=pd.Series(data,index=["India","Pakistan","Bangladesh","Srilanka","China","Nepal"])
x.name="myseries"
print (x)

India         1.0
Pakistan      3.0
Bangladesh    5.0
Srilanka      NaN
China         6.0
Nepal         8.0
Name: myseries, dtype: float64

2. Create a data 'dates' starting from 2021-01-01 with range 6. and create a random 6x4 array and a list=('ABCD').now create a dataframe with 'dates' as index and list as the column and data as the datas of this table.


  Expected output

                        A	       B	      C	      D
    2021-01-01	-0.429358	0.779826	0.389625	0.248792
    2021-01-02	-1.044721	0.272807	-0.370437	1.177273
    2021-01-03	-0.961394	-0.525376	0.120843	0.470060
    2021-01-04	1.842266	-0.551049	0.588390	-0.326937
    2021-01-05	0.986198	0.391301	-0.084837	-0.855573
    2021-01-06	-1.531207	0.905463	-0.099024	0.589219

In [ ]:
import pandas as pd 
import numpy as np 
dates=pd.date_range('20210101',periods=6)
a=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
print(a)

                   A         B         C         D
2021-01-01  0.204158  1.760887 -1.208617 -0.772410
2021-01-02 -0.464188 -2.614890  0.461495  0.923797
2021-01-03  0.686570  1.046758  2.050084 -1.158295
2021-01-04  0.026167 -1.049640 -0.554311  0.227455
2021-01-05  0.875199 -0.873994  0.682709  0.795041
2021-01-06 -0.849761  0.042498 -0.204811  0.088187