1 ) Consider i = 2, Write a program to convert i to float. 
---

    (Expected Output = 2.0 )

In [11]:
i = 2 
j =float(i)
print(j)

2.0

2 )Consider x="Hello" and y="World" , then write a program to concatinate the strings to a single string and print the result.
            
            
            
            
          ( Expected output = Hello World )

In [12]:
x = "hello"
y ="world"
print(x+y)

helloworld

3 ) Consider pi = 3.14 . print the value of pie and its type.

In [13]:
pi = 3.14
print(pi," ",type(pi))

3.14   <class 'float'>